.btn-succes {
    background-color: greenyellow;
    color:white;
    padding: 15px;
    border:none;
    border-radius: 5px;
    font-weight: bold;

}

.btn-succes-pill {
    background-color: greenyellow;
    color:white;
    padding: 15px;
    border:none;
    border-radius: 35px;
    font-weight: bold;

}

.btn-danger {
    background-color: white;
    color: red;
    padding: 15px;
    border-color: red;
    border-width: 2px;
    border-radius: 5px;
    font-weight: bold;

}

.title-red {
    color: red;
}

.title-blue {
    color: blue;
}

